@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Kumbh Sans";
}


.cart-box {
  box-shadow: 2px 25px 50px rgba(0, 0, 0, 0.18);
}

.add-to-cart {
  box-shadow: 15px 23px 20px #FFEDE0;
}

